/* elemen sktor */
/* referensi web unutk warna colorhunt.com */
body{
    background-color:#E3DBBB ;
    color: black;
    font-family: Verdana;
    
}
.txt-tengah{
    text-align: center;
}
.txt-center{text-align: center}
    .bg-warning{background-color: rgb(204, 204, 11);border-radius: 20px 20px 20px 20px;}
    .txt-center{color: black;}
    .p-1{padding: 50px;}
    m-1{margin: 20px;}
    .f-1{font-size: 26px;}